BASE_URL=http://10.19.32:210/api
API_KEY=DEBUG
STA_PJ_FILE=sta_pj.csv


# Email Configuration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SENDER_EMAIL=your_email@gmail.com
DESTINATION_EMAILS=default1@example.com, default2@example.com